* {
    /* -fx-background-color: transparent; */
    -common-back-color: #009688;
    -enveloped-back-color: #00645e;
    -tooltip-back-color: #363636;

    -left-menu-bar-back-color: -enveloped-back-color;

    /*!*text*!*/
    -fx-font-family: "Segoe UI Semibold";
    -common-text-fill: white;
    -enveloped-text-fill: black;
    -common-text-font-size: 11pt;
    -error-text-fill: #ff0000;
    -active-text-fill: #2EC4B6;
    -focused-text-fill: #2EC4B6;


    -common-border-fill: white;
    -active-border-fill: white;
}

/*pagina di login*/
.login-root {
    -fx-background-color: -common-back-color;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.label-error {
    -fx-font-size: 11pt;
    -fx-fill: black;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.button {
    -fx-border-color: -common-border-fill;
    -fx-text-fill: -common-text-fill;
    -fx-padding: 5 22 5 22;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 15pt;
    -fx-background-color: transparent;
}

.main-ui-root {
    -fx-background-color: -common-back-color;
}

.label {
    -fx-font-size: 11pt;
    -fx-text-fill: -common-text-fill;
}

/*i label della data, destinatari in UI*/
.label-enveloped {
    -fx-font-size: 11pt;
    -fx-background-color: -enveloped-back-color;
    -fx-text-fill: -enveloped-text-fill;
    -fx-background-radius: 15;
    -fx-padding: 2 5 2 5;
}

.rightmailbox {
    -fx-background-color: #00675b;
}

.close-button {
    -fx-padding: 2 5.3 2 5.3;
    -fx-border-width: .7;
    -fx-border-radius: 20;
    -fx-font-size: 10pt;
    -fx-border-color: white, white;
}

.transparent {
    -fx-background-color: transparent;
}

.tab  {
    -fx-alignment: CENTER;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -common-text-fill;
    -fx-font-size: 14pt;
}

.tab:focused .tab-label {
    -fx-text-fill: -active-text-fill;
    -fx-border-width: 0;
}

.tab:selected .tab-label {
    -fx-text-fill: -active-text-fill;
    -fx-border-width: 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.tab-header-background {
    -fx-background-color: transparent;
}

.list-view {
    -fx-padding: 10 3 5 2;
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
}

.list-cell:filled {
    -fx-padding: 10 8 10 5;
    -fx-background-insets:  3 2 3 2;
    -fx-border-insets:  3 2 3 2;
    -fx-border-width: .7;
    -fx-border-radius: 5;
    -fx-background-radius: 5;

    -fx-border-color: derive(-enveloped-back-color, -30%);
    -fx-background-color: -enveloped-back-color;
    -fx-text-fill: -common-text-fill;
    -fx-font-size: 14;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: derive(-enveloped-back-color, -30%);
}

.list-cell:filled:hover {
    -fx-background-color: derive(-enveloped-back-color, -10%);;
}

.list-cell:filled {
    -fx-padding: 10 8 10 5;
    -fx-background-insets:  3 2 3 2;
    -fx-border-insets:  3 2 3 2;
    -fx-border-width: .7;
    -fx-border-radius: 5;
    -fx-background-radius: 5;

    -fx-border-color: derive(-enveloped-back-color, -30%);
    -fx-background-color: -enveloped-back-color;
    -fx-text-fill: -common-text-fill;
    -fx-font-size: 14;
}

.list-cell:filled:hover {
    -fx-background-color: derive(-enveloped-back-color, -10%);;
}

.undecorated-text-area .content {
    -fx-background-color: -common-back-color;
}

.undecorated-text-area {
    -fx-text-fill: -common-text-fill;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-font-size: 10pt;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-border-width: .7;
    -fx-border-radius: 5;
    -fx-border-color: white, white;
    -fx-text-fill: -common-text-fill;
}

.email-editor-text-area {
    -fx-border-radius: 5;
    -fx-font-size: 12pt;
}

.email-editor-text-field {
    -fx-padding: 0 0 0 10;
    -fx-text-fill: black;
}